<div class="user-profile">


<h2><%= @user.name.capitalize %></h2>

<p>
<strong>Email:</strong> <%= @user.email %>
</p>

<h3>Your Docks</h3>

<ul>
	<% @docks.each do |dock| %>
	<li>
    <strong>Dock plate: <%= dock.dock_plate %><br></strong>
    Harbor:             <%= dock.harbor_id %><br>
		Price:              <%= dock.price %><br>
		Size:               <%= dock.size %><br>
		<%= link_to "Edit",  dock_edit_path %>
		<%= link_to "Delete", dock_delete_path(@user), method: :delete, data: { confirm: "Are you sure you want to delete this dock?"} %>
	</li>
	<% end %>
</ul>
<%= link_to 'Add new dock', '/profile/docks/new' %>
<br><br><br>


<h3>Your Boats</h3>

<ul>
	<% @boats.each do |boat| %>
	<li>
    <strong>Name: <%= boat.name %></strong><br>
		Boat plate: <%= boat.boat_plate %><br>
		Size:               <%= boat.size %><br>
		<%= link_to "Edit",  boat_edit_path %>
		<%= link_to "Delete", boat_delete_path(@user), method: :delete, data: { confirm: "Are you sure you want to delete this boat?"} %>
	</li>
	<% end %>
</ul>
<%= link_to 'Add new boat', '/profile/boats/new' %>

</div>
<br><br><br>
