<div class="user-profile">

<h2><%= @user.name.capitalize %></h2>

<p>
<strong>Email:</strong> <%= @user.email %>
</p>

<div class="col-md-6">
	<h3>Your Docks</h3>

	<ul>
		<% @docks.each do |dock| %>
		<li>
		    <strong>Dock plate: <%= dock.dock_plate %><br></strong>
		    Harbor:             <%= dock.harbor_id %><br>
				Price:              <%= dock.price %><br>
				Size:               <%= dock.size %><br><br>
			<div class="links-profile">
				<%= link_to "Rentals: ", dock_info_path(dock) %><%=dock.rentals.count%><br><br>
				<%= link_to "Edit" , dock_edit_path(dock) %>&nbsp&nbsp
				<%= link_to "Delete", dock_delete_path(dock), method: :delete,
						 data: { confirm: "Are you sure you want to delete this dock?"} %>
			<br><br>
		</li>
		<% end %>
	</ul>
	<%= link_to 'Add new dock', '/profile/docks/new' %>
	<br><br><br>
</div>

<div class="col-md-6">
	<h3>Your Boats</h3>

	<table class='profile-table'>
		<ul>
			<% @boats.each do |boat| %>
			<li>
				<strong>Name: <%= boat.name %></strong><br>
				Boat plate: <%= boat.boat_plate %><br>
				Size:       <%= boat.size %><br>
				<div class="links-profile">
					<%= link_to "Rentals: ", profile_path %><%=boat.rentals.count%><br><br>
					<%= link_to "Edit", boat_edit_path(boat) %>&nbsp&nbsp
					<%= link_to "Delete", boat_delete_path(boat) , method: :delete,
					data: { confirm: "Are you sure you want to delete this boat?"} %>
					<br><br>
				</div>
			</li>
			<% end %>
		</ul>
	</table>
	<%= link_to 'Add new boat', '/profile/boats/new' %>
	</div>
	<br><br><br>
</div>