<div class="search-harbor home home-menu">

<% if user_signed_in? %>
  <%= form_tag harbor_boats_path, method: :post do %>
    <div class="form-group">
    <%= label_tag :select_harbor %>
  	<%= select_tag 'harbor_id', options_for_select(Harbor.all.collect {|u| [u.name, u.id] }), :include_blank => true, class: "form-control" %>
    </div>

    <div class="form-group">
    <%= label_tag :select_boat %>
  	<%= select_tag 'id', options_for_select(current_user.boats.collect {|u| [u.name, u.id] }), :include_blank => true, class: "form-control" %>
    </div>

  	<%= submit_tag 'Search', class: 'btn btn-primary' %>
  <% end %>
  
<% else %>
  <%= form_tag harbor_boats_path, method: :post do %>
    <div class="form-group">
      <%= label_tag :select_harbor %>
      <%= select_tag 'id', options_for_select(Harbor.all.collect {|u| [u.name, u.id] }) %>
    </div>

    <div class="form-group">
      <%= label_tag(:size, "Size:") %>
      <%= number_field_tag(:size) %>
    </div>

  	<%= submit_tag 'Search', class: 'btn btn-primary'%>
  <% end %>

<% end %>
</div>
