<h3>Docks at <%= @harbor.name %></h3>
<br>
<% if user_signed_in? %>
<h4>Boat: <%= @boat.name %></h4>
<br>
	<ul>
		<% @docks.each do |dock| %>
		<li>
			<strong>Dock plate: <%= dock.dock_plate %></strong><br>
	    - Size: <%= dock.size %><br>
			- Price: <%= dock.price %><br>

			<%= link_to "RENT",  rentals_path(@boat, dock) %>
		</li>
		<br>
		<br>
		<% end %>
	</ul>

<% else %>
	<ul>
		<% @docks.each do |dock| %>
		<li>
	    <strong>Dock plate: <%= dock.dock_plate %></strong><br>
			- Price: <%= dock.price %><br>
			- Size: <%= dock.size %><br>

			<%= link_to "RENT",  new_user_session_path %>
		</li>
		<br><br>
		<% end %>
	</ul>

<% end %>
