<!DOCTYPE html>
<html>
<head>
  <title>Dockandgo</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <nav id="mainNav" class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header col-sm-3">
        <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button> -->
      <a class="navbar-brand" href="/">Dock&Go</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="page-scroll" href="#Home"><%= link_to "Home", "/" %></a>
          </li>
          <li>
            <a class="page-scroll" href="#Profile"><%= link_to "Profile", "/profile" %></a>
          </li>
          <li>
            <a class="page-scroll" href="#Sign out"><%= link_to 'Sign out', destroy_user_session_path, method: 'DELETE' %></a>
          </li>
        </ul>
        <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="page-scroll" href="#Home"><%= link_to "Home", "/" %></a>
          </li>
          <li>
            <a class="page-scroll" href="#Sign_up"><%= link_to 'Sign_up', new_user_registration_path %></a>
          </li>
          <li>
            <a class="page-scroll" href="#Sign_in"><%= link_to 'Sign_in', new_user_session_path %></a>
          </li>
        </ul>
        <% end %>
      </div>
    </div>
  </nav>

<div class="container">
  <div class="content">
    <div class="col-md-12 text-box">
      <% if notice.present? %>
      <div class="alert alert-success alert-dismissable fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%=notice%>
      </div>
      <% end %>

      <% if alert.present? %>
      <div class="alert alert-danger alert-dismissable fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%=alert%>
      </div>
      <% end %>
      <%= yield %>
    </div>
  </div>
</div>

  <div class="footer">
    <div class="container">
            <div class="col-lg-12">
                <ul class="list-inline">
                  <li>
                    <a href="#">Home</a>
                  </li>
                  <li class="footer-menu-divider">&sdot;</li>
                  <li>
                    <a href="#about">About</a>
                  </li>
                  <li class="footer-menu-divider">&sdot;</li>
                  <li>
                    <a href="#services">Services</a>
                  </li>
                  <li class="footer-menu-divider">&sdot;</li>
                  <li>
                    <a href="#contact">Contact</a>
                  </li>
                </ul>
                    <p class="copyright text-muted small">&copy; DockanGo 2017. All Rights Reserved</p>
            </div>
    </div>
  </div>

</body>
</html>
